/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/style.scss */
.nav_style {
  background-color: #000000 !important;
  padding-right: 0;
  padding-left: 0;
}
/* line 6, ../sass/style.scss */
.nav_style .navbar-brand {
  color: #ffffff;
}
/* line 8, ../sass/style.scss */
.nav_style .navbar-brand img {
  width: 100px;
}
/* line 13, ../sass/style.scss */
.nav_style .side_nav .justify-content-end {
  position: relative;
  top: 10px;
  right: 15px;
}
/* line 17, ../sass/style.scss */
.nav_style .side_nav .justify-content-end .cart_symbol {
  padding-right: 15px;
}
/* line 19, ../sass/style.scss */
.nav_style .side_nav .justify-content-end .cart_symbol img {
  margin-top: 2px;
  cursor: pointer;
}
/* line 25, ../sass/style.scss */
.nav_style .side_nav #line_bars {
  float: right;
}
/* line 29, ../sass/style.scss */
.nav_style .main_logo {
  padding: 0px 10px;
}
/* line 32, ../sass/style.scss */
.nav_style .search_box {
  padding-right: 0;
  left: 10px;
  float: right;
}
/* line 36, ../sass/style.scss */
.nav_style .search_box .search_input {
  float: right;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid #f4a42f;
  border-radius: 15px;
  color: #aaa;
}

/* line 47, ../sass/style.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 51, ../sass/style.scss */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  padding-top: 60px;
}

/* line 64, ../sass/style.scss */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff !important;
  display: block;
  cursor: pointer;
}

/* line 73, ../sass/style.scss */
.sidenav a:hover {
  background: #f4a42f;
  color: #000 !important;
}

/* line 78, ../sass/style.scss */
.sidenav .closebtn {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  /* line 86, ../sass/style.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 89, ../sass/style.scss */
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-height: 450px) {
  /* line 95, ../sass/style.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 98, ../sass/style.scss */
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  /* line 104, ../sass/style.scss */
  #search_input {
    width: 150px;
  }
}
/* line 109, ../sass/style.scss */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/* line 123, ../sass/style.scss */
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 133, ../sass/style.scss */
.content_box {
  padding: 80px 25px 0 25px;
}
/* line 135, ../sass/style.scss */
.content_box form {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}
/* line 139, ../sass/style.scss */
.content_box form input[type="text"] {
  background: transparent;
  border: 1px solid #f4a42f;
  border-radius: 10px;
  width: 250px;
  line-height: 30px;
  color: #f4a42f;
  padding-left: 10px;
  font-size: 14px;
}
/* line 148, ../sass/style.scss */
.content_box form input[type="text"]::placeholder {
  color: #f4a42f;
}
/* line 151, ../sass/style.scss */
.content_box form input[type="text"]:focus {
  outline: none;
}
/* line 155, ../sass/style.scss */
.content_box form .close {
  float: right;
  position: relative;
  top: -30px;
  right: 10px;
}
/* line 162, ../sass/style.scss */
.content_box .product_list {
  width: 100%;
}

/* line 167, ../sass/style.scss */
.popover_section {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/* line 181, ../sass/style.scss */
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 187, ../sass/style.scss */
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

/* line 198, ../sass/style.scss */
#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/* line 202, ../sass/style.scss */
#filter-records {
  padding: 15px 25px 15px 25px;
  background: #fff;
}
/* line 205, ../sass/style.scss */
#filter-records .content_piece {
  margin-bottom: 10px;
}
/* line 207, ../sass/style.scss */
#filter-records .content_piece .manage_image {
  padding: 0;
}
/* line 210, ../sass/style.scss */
#filter-records .content_piece .manage_content {
  padding: 0;
  text-align: left;
  font-size: 14px;
}
/* line 214, ../sass/style.scss */
#filter-records .content_piece .manage_content h5 {
  padding: 5px;
}

/* line 222, ../sass/style.scss */
.banner_img img {
  width: 100%;
}

/* line 229, ../sass/style.scss */
.browse_container .browse_heading {
  text-align: center;
}
/* line 231, ../sass/style.scss */
.browse_container .browse_heading h2 {
  padding: 30px 0 20px 0;
  font-size: 26px;
  font-weight: bold;
}
/* line 244, ../sass/style.scss */
.browse_container .pad-0 {
  padding: 0;
}
/* line 246, ../sass/style.scss */
.browse_container .pad-0 a {
  display: block;
  position: relative;
}
/* line 250, ../sass/style.scss */
.browse_container .pad-0 span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px 4px #000000;
}
/* line 266, ../sass/style.scss */
.browse_container .center_img a {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 270, ../sass/style.scss */
.browse_container .center_img a img {
  width: 100%;
  height: 100%;
}

/* line 278, ../sass/style.scss */
.zoom {
  transition: 0.5s;
}
/* line 280, ../sass/style.scss */
.zoom img {
  vertical-align: bottom;
}

/* line 285, ../sass/style.scss */
.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

/* line 293, ../sass/style.scss */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* line 298, ../sass/style.scss */
.carousel_row {
  padding-bottom: 100px;
}
/* line 300, ../sass/style.scss */
.carousel_row .article_box {
  width: 100%;
}
/* line 302, ../sass/style.scss */
.carousel_row .article_box h2 {
  text-align: center;
  padding: 50px 30px 30px 30px;
  font-weight: bold;
  font-size: 26px;
}
/* line 309, ../sass/style.scss */
.carousel_row .half_item {
  border: 1px solid #aaa;
}
/* line 311, ../sass/style.scss */
.carousel_row .half_item:hover {
  border: 1px solid #e88922;
}
/* line 315, ../sass/style.scss */
.carousel_row .img_section {
  padding: 0;
}
/* line 318, ../sass/style.scss */
.carousel_row .content_section {
  padding: 0;
  text-align: left;
  padding-left: 10px;
  background: #ddd;
}
/* line 323, ../sass/style.scss */
.carousel_row .content_section h2 {
  padding: 15px 25px;
  font-size: 18px;
  font-family: monospace;
}
/* line 328, ../sass/style.scss */
.carousel_row .content_section p {
  padding: 10px 25px;
  font-size: 14px;
}
/* line 332, ../sass/style.scss */
.carousel_row .content_section button {
  color: #131313;
  margin: 0px 0 20px 0;
  font-family: monospace;
  font-weight: bold;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px;
  background-color: #eda31a;
  border: 0;
  margin-left: 25px;
}

/* line 347, ../sass/style.scss */
#fetch_btn {
  color: #131313;
  margin: 20px 0 10px 0;
  font-family: monospace;
  font-weight: bold;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px;
  background-color: #eda31a;
  border: 0;
}

/* line 359, ../sass/style.scss */
#myList {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}
/* line 364, ../sass/style.scss */
#myList h2 {
  text-align: center;
  width: 100%;
  padding: 10px;
  color: #000;
}
/* line 370, ../sass/style.scss */
#myList li {
  padding: 10px;
  border: 1px solid #aaa;
}
